<!-- Startscreen -->
<div *ngIf="!istGestartet" class="start-screen">
  <div class="logo-container"></div>
  <button (click)="start()" class="start-btn">Spiel starten</button>
</div>

<!-- App-Inhalte -->
<div *ngIf="istGestartet" class="app-inhalt">
  <div class="background">
    <div class="overlay">
      <div class="logo-container"></div>
      <div class="card">
        <h2>Weite einstellen</h2>
        <div class="input-row">
          <input
            type="number"
            [(ngModel)]="inputWeite"
            placeholder="0"
            min="0"
            max="300"
            step="5"
            (input)="validateWeite()"
            [disabled]="ladeAnimation"
            [class.invalid]="!isWeiteValid && hasTouched"
          />
          <button
            (click)="weite()"
            class="send-btn"
            [disabled]="!isWeiteValid || !hasTouched || ladeAnimation">
            <span>&#10148;</span>
          </button>
        </div>
        <div *ngIf="!isWeiteValid && hasTouched" class="error-message">
          Bitte gib eine Zahl zwischen 0 und 300 ein.
        </div>
      </div>
      <button
        class="shoot-btn"
        (click)="abschuss()"
        [disabled]="ladeAnimation || !isWeiteEingestellt">
        {{ ladeAnimation ? 'Warte ' + countdown + 's' : 'Nousse werfen' }}
      </button>
      <div class="ball-container" *ngIf="ladeAnimation">
        <div class="rotating-ball"></div>
      </div>

      <div *ngIf="meldung" class="info-box">{{ meldung }}</div>
    </div>
  </div>
</div>
